<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit post</title>
</head>

<body>
    <h1>Edit post</h1>
    <h2>user:<%=post.username%>
    </h2>
    <h3>
        <%=post.id%>
    </h3>
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
        <textarea placeholder="type changes" name="content"><%=post.content%></textarea><br>
        <button type="submit">save changes</button>
    </form>

</body>

</html>