<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>This is for new post</h1>
    <div>
        <form method="post" action="/posts">
            <input placeholder="username" name="username"><br><br>
            <textarea name="content" name="content"></textarea><br><br>
            <button>Submit</button>
        </form>
    </div>

</body>

</html>